<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>BOSS2walk (4)</key>
<dict>
<key>spriteOffset</key>
<string>{19,-17}</string>
<key>spriteSize</key>
<string>{352,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,1},{352,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (6)</key>
<dict>
<key>spriteOffset</key>
<string>{9,-13}</string>
<key>spriteSize</key>
<string>{347,428}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{644,1},{347,428}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (9)</key>
<dict>
<key>spriteOffset</key>
<string>{14,-8}</string>
<key>spriteSize</key>
<string>{366,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1287,1},{366,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (5)</key>
<dict>
<key>spriteOffset</key>
<string>{22,-17}</string>
<key>spriteSize</key>
<string>{347,426}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1930,1},{347,426}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (3)</key>
<dict>
<key>spriteOffset</key>
<string>{30,-8}</string>
<key>spriteSize</key>
<string>{352,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2573,1},{352,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (2)</key>
<dict>
<key>spriteOffset</key>
<string>{34,-26}</string>
<key>spriteSize</key>
<string>{353,426}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3216,1},{353,426}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (11)</key>
<dict>
<key>spriteOffset</key>
<string>{9,-10}</string>
<key>spriteSize</key>
<string>{361,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3859,1},{361,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (12)</key>
<dict>
<key>spriteOffset</key>
<string>{13,-23}</string>
<key>spriteSize</key>
<string>{350,426}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,430},{350,426}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (14)</key>
<dict>
<key>spriteOffset</key>
<string>{6,-16}</string>
<key>spriteSize</key>
<string>{340,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{644,430},{340,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (1)</key>
<dict>
<key>spriteOffset</key>
<string>{16,5}</string>
<key>spriteSize</key>
<string>{359,426}</string>
<key>spriteSourceSize</key>
<string>{709,709}</string>
<key>textureRect</key>
<string>{{1287,430},{359,426}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (10)</key>
<dict>
<key>spriteOffset</key>
<string>{13,-5}</string>
<key>spriteSize</key>
<string>{368,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1930,430},{368,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (18)</key>
<dict>
<key>spriteOffset</key>
<string>{17,5}</string>
<key>spriteSize</key>
<string>{345,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2573,430},{345,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (8)</key>
<dict>
<key>spriteOffset</key>
<string>{11,-7}</string>
<key>spriteSize</key>
<string>{359,426}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3216,430},{359,426}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (7)</key>
<dict>
<key>spriteOffset</key>
<string>{4,-8}</string>
<key>spriteSize</key>
<string>{354,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3859,430},{354,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (16)</key>
<dict>
<key>spriteOffset</key>
<string>{28,-11}</string>
<key>spriteSize</key>
<string>{340,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,859},{340,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (17)</key>
<dict>
<key>spriteOffset</key>
<string>{22,-4}</string>
<key>spriteSize</key>
<string>{344,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{644,859},{344,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (15)</key>
<dict>
<key>spriteOffset</key>
<string>{16,-5}</string>
<key>spriteSize</key>
<string>{338,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1287,859},{338,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (13)</key>
<dict>
<key>spriteOffset</key>
<string>{6,2}</string>
<key>spriteSize</key>
<string>{342,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1930,859},{342,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-63,-155}</string>
<key>spriteSize</key>
<string>{338,409}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2573,859},{338,409}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-63,-148}</string>
<key>spriteSize</key>
<string>{339,424}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3216,859},{339,424}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (9)</key>
<dict>
<key>spriteOffset</key>
<string>{-74,-146}</string>
<key>spriteSize</key>
<string>{334,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3859,859},{334,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-77,-146}</string>
<key>spriteSize</key>
<string>{339,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,1288},{339,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (6)</key>
<dict>
<key>spriteOffset</key>
<string>{-70,-146}</string>
<key>spriteSize</key>
<string>{334,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{644,1288},{334,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (7)</key>
<dict>
<key>spriteOffset</key>
<string>{-82,-146}</string>
<key>spriteSize</key>
<string>{342,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1287,1288},{342,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (5)</key>
<dict>
<key>spriteOffset</key>
<string>{-20,-146}</string>
<key>spriteSize</key>
<string>{416,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1930,1288},{416,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-65,-146}</string>
<key>spriteSize</key>
<string>{334,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2573,1288},{334,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-66,-146}</string>
<key>spriteSize</key>
<string>{334,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3216,1288},{334,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (7)</key>
<dict>
<key>spriteOffset</key>
<string>{39,-146}</string>
<key>spriteSize</key>
<string>{642,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3859,1288},{642,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-62,-146}</string>
<key>spriteSize</key>
<string>{332,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,1717},{332,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-60,-146}</string>
<key>spriteSize</key>
<string>{334,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{644,1717},{334,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (9)</key>
<dict>
<key>spriteOffset</key>
<string>{-103,-207}</string>
<key>spriteSize</key>
<string>{362,305}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1287,1717},{362,305}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-66,-192}</string>
<key>spriteSize</key>
<string>{344,336}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1930,1717},{344,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (7)</key>
<dict>
<key>spriteOffset</key>
<string>{-61,-190}</string>
<key>spriteSize</key>
<string>{339,339}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2573,1717},{339,339}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (6)</key>
<dict>
<key>spriteOffset</key>
<string>{-66,-192}</string>
<key>spriteSize</key>
<string>{326,335}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3216,1717},{326,335}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (5)</key>
<dict>
<key>spriteOffset</key>
<string>{-77,-178}</string>
<key>spriteSize</key>
<string>{334,364}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3859,1717},{334,364}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-77,-147}</string>
<key>spriteSize</key>
<string>{384,426}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,2146},{384,426}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-54,-165}</string>
<key>spriteSize</key>
<string>{337,389}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{644,2146},{337,389}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (12)</key>
<dict>
<key>spriteOffset</key>
<string>{-108,-265}</string>
<key>spriteSize</key>
<string>{478,190}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1287,2146},{478,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (11)</key>
<dict>
<key>spriteOffset</key>
<string>{-108,-253}</string>
<key>spriteSize</key>
<string>{479,213}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1930,2146},{479,213}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (6)</key>
<dict>
<key>spriteOffset</key>
<string>{29,-146}</string>
<key>spriteSize</key>
<string>{616,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2573,2146},{616,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (5)</key>
<dict>
<key>spriteOffset</key>
<string>{15,-146}</string>
<key>spriteSize</key>
<string>{592,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3216,2146},{592,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (10)</key>
<dict>
<key>spriteOffset</key>
<string>{-112,-220}</string>
<key>spriteSize</key>
<string>{473,279}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3859,2146},{473,279}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-58,-146}</string>
<key>spriteSize</key>
<string>{335,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,2575},{335,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (9)</key>
<dict>
<key>spriteOffset</key>
<string>{-87,-146}</string>
<key>spriteSize</key>
<string>{349,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{644,2575},{349,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (4)</key>
<dict>
<key>spriteOffset</key>
<string>{2,-146}</string>
<key>spriteSize</key>
<string>{561,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1287,2575},{561,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-25,-147}</string>
<key>spriteSize</key>
<string>{486,426}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1930,2575},{486,426}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (10)</key>
<dict>
<key>spriteOffset</key>
<string>{-73,-146}</string>
<key>spriteSize</key>
<string>{348,427}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2573,2575},{348,427}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-42,-147}</string>
<key>spriteSize</key>
<string>{434,426}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3216,2575},{434,426}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-57,-147}</string>
<key>spriteSize</key>
<string>{353,426}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3859,2575},{353,426}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>Boss2.png</string>
<key>textureFileName</key>
<string>Boss2.png</string>
<key>size</key>
<string>{4502,3004}</string>
</dict>
</dict>
</plist>
