<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>down_4</key>
<dict>
<key>spriteOffset</key>
<string>{4,0}</string>
<key>spriteSize</key>
<string>{169,374}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{1,1},{169,374}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>down_2</key>
<dict>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{166,374}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{171,1},{166,374}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>left_1</key>
<dict>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{149,373}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{338,1},{149,373}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>right_1</key>
<dict>
<key>spriteOffset</key>
<string>{0,3}</string>
<key>spriteSize</key>
<string>{149,373}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{488,1},{149,373}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>right_3</key>
<dict>
<key>spriteOffset</key>
<string>{1,4}</string>
<key>spriteSize</key>
<string>{149,372}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{338,375},{149,372}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>left_3</key>
<dict>
<key>spriteOffset</key>
<string>{2,4}</string>
<key>spriteSize</key>
<string>{147,372}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{488,375},{147,372}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>down_1</key>
<dict>
<key>spriteOffset</key>
<string>{2,7}</string>
<key>spriteSize</key>
<string>{179,369}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{1,376},{179,369}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>down_3</key>
<dict>
<key>spriteOffset</key>
<string>{6,6}</string>
<key>spriteSize</key>
<string>{175,369}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{636,375},{175,369}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>up_1</key>
<dict>
<key>spriteOffset</key>
<string>{2,9}</string>
<key>spriteSize</key>
<string>{177,368}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{638,1},{177,368}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>up_3</key>
<dict>
<key>spriteOffset</key>
<string>{3,10}</string>
<key>spriteSize</key>
<string>{177,367}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{812,370},{177,367}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>up_4</key>
<dict>
<key>spriteOffset</key>
<string>{4,4}</string>
<key>spriteSize</key>
<string>{156,367}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{816,1},{156,367}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>up_2</key>
<dict>
<key>spriteOffset</key>
<string>{2,3}</string>
<key>spriteSize</key>
<string>{157,366}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{812,738},{157,366}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>left_2</key>
<dict>
<key>spriteOffset</key>
<string>{3,3}</string>
<key>spriteSize</key>
<string>{150,364}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{181,376},{150,364}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>right_4</key>
<dict>
<key>spriteOffset</key>
<string>{0,5}</string>
<key>spriteSize</key>
<string>{147,363}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{181,741},{147,363}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>left_4</key>
<dict>
<key>spriteOffset</key>
<string>{-6,6}</string>
<key>spriteSize</key>
<string>{179,361}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{1,746},{179,361}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>right_2</key>
<dict>
<key>spriteOffset</key>
<string>{8,7}</string>
<key>spriteSize</key>
<string>{179,356}</string>
<key>spriteSourceSize</key>
<string>{281,440}</string>
<key>textureRect</key>
<string>{{329,748},{179,356}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>root.png</string>
<key>textureFileName</key>
<string>root.png</string>
<key>size</key>
<string>{1108,1108}</string>
</dict>
</dict>
</plist>
