# Cocos Creator
library/
local/
temp/
build/
native/
.creator/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# 扩展编译产物
extensions/localization-editor/webpack-dist/

# Logs
*.log
