<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>bagexpand</key>
<dict>
<key>spriteOffset</key>
<string>{-45,12}</string>
<key>spriteSize</key>
<string>{1390,1507}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1,1},{1390,1507}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>doublecollect</key>
<dict>
<key>spriteOffset</key>
<string>{25,-7}</string>
<key>spriteSize</key>
<string>{1450,1408}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1392,1},{1450,1408}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>greedy</key>
<dict>
<key>spriteOffset</key>
<string>{49,-3}</string>
<key>spriteSize</key>
<string>{1439,1435}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1392,1410},{1439,1435}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>collectmaster</key>
<dict>
<key>spriteOffset</key>
<string>{63,57}</string>
<key>spriteSize</key>
<string>{727,725}</string>
<key>spriteSourceSize</key>
<string>{2183,2183}</string>
<key>textureRect</key>
<string>{{1,1509},{727,725}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>root.png</string>
<key>textureFileName</key>
<string>root.png</string>
<key>size</key>
<string>{2846,2846}</string>
</dict>
</dict>
</plist>
