<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>boss1attack (10)</key>
<dict>
<key>spriteOffset</key>
<string>{-73,22}</string>
<key>spriteSize</key>
<string>{770,676}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,1},{770,676}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-12,-24}</string>
<key>spriteSize</key>
<string>{826,602}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,678},{826,602}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-19,-25}</string>
<key>spriteSize</key>
<string>{821,601}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{772,1},{821,601}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (20)</key>
<dict>
<key>spriteOffset</key>
<string>{-30,-22}</string>
<key>spriteSize</key>
<string>{792,602}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{828,603},{792,602}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-5,-34}</string>
<key>spriteSize</key>
<string>{815,585}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{828,1206},{815,585}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-49,-23}</string>
<key>spriteSize</key>
<string>{817,581}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,1281},{817,581}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-4,-32}</string>
<key>spriteSize</key>
<string>{797,586}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{819,1792},{797,586}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (5)</key>
<dict>
<key>spriteOffset</key>
<string>{-61,-25}</string>
<key>spriteSize</key>
<string>{814,573}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1594,1},{814,573}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (19)</key>
<dict>
<key>spriteOffset</key>
<string>{-31,-15}</string>
<key>spriteSize</key>
<string>{783,595}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1621,575},{783,595}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (6)</key>
<dict>
<key>spriteOffset</key>
<string>{-65,-27}</string>
<key>spriteSize</key>
<string>{810,570}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1617,1792},{810,570}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (8)</key>
<dict>
<key>spriteOffset</key>
<string>{130,-33}</string>
<key>spriteSize</key>
<string>{658,698}</string>
<key>spriteSourceSize</key>
<string>{960,850}</string>
<key>textureRect</key>
<string>{{1,1863},{658,698}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-37,-22}</string>
<key>spriteSize</key>
<string>{782,587}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1644,1171},{782,587}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (18)</key>
<dict>
<key>spriteOffset</key>
<string>{-36,-18}</string>
<key>spriteSize</key>
<string>{749,605}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1617,2363},{749,605}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-38,3}</string>
<key>spriteSize</key>
<string>{700,638}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{660,2379},{700,638}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (6)</key>
<dict>
<key>spriteOffset</key>
<string>{-13,-19}</string>
<key>spriteSize</key>
<string>{730,611}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2367,2363},{730,611}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (5)</key>
<dict>
<key>spriteOffset</key>
<string>{-5,-29}</string>
<key>spriteSize</key>
<string>{759,587}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2405,575},{759,587}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (12)</key>
<dict>
<key>spriteOffset</key>
<string>{-33,-47}</string>
<key>spriteSize</key>
<string>{789,561}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2409,1},{789,561}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (9)</key>
<dict>
<key>spriteOffset</key>
<string>{79,16}</string>
<key>spriteSize</key>
<string>{554,794}</string>
<key>spriteSourceSize</key>
<string>{960,850}</string>
<key>textureRect</key>
<string>{{2428,1163},{554,794}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (7)</key>
<dict>
<key>spriteOffset</key>
<string>{120,-37}</string>
<key>spriteSize</key>
<string>{632,687}</string>
<key>spriteSourceSize</key>
<string>{960,850}</string>
<key>textureRect</key>
<string>{{1,2562},{632,687}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-15,-1}</string>
<key>spriteSize</key>
<string>{691,626}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1361,2969},{691,626}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-27,-21}</string>
<key>spriteSize</key>
<string>{739,585}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2053,2975},{739,585}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-72,-35}</string>
<key>spriteSize</key>
<string>{769,562}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2793,2975},{769,562}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (6)</key>
<dict>
<key>spriteOffset</key>
<string>{80,-7}</string>
<key>spriteSize</key>
<string>{577,749}</string>
<key>spriteSourceSize</key>
<string>{960,850}</string>
<key>textureRect</key>
<string>{{2983,1163},{577,749}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (17)</key>
<dict>
<key>spriteOffset</key>
<string>{-39,-12}</string>
<key>spriteSize</key>
<string>{725,594}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{634,3018},{725,594}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-73,-36}</string>
<key>spriteSize</key>
<string>{770,559}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3098,1913},{770,559}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (16)</key>
<dict>
<key>spriteOffset</key>
<string>{-36,-17}</string>
<key>spriteSize</key>
<string>{704,605}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3199,1},{704,605}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (12)</key>
<dict>
<key>spriteOffset</key>
<string>{21,-20}</string>
<key>spriteSize</key>
<string>{716,594}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2793,3538},{716,594}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (7)</key>
<dict>
<key>spriteOffset</key>
<string>{-9,-17}</string>
<key>spriteSize</key>
<string>{700,607}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2053,3561},{700,607}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (11)</key>
<dict>
<key>spriteOffset</key>
<string>{22,-21}</string>
<key>spriteSize</key>
<string>{714,595}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,3613},{714,595}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (13)</key>
<dict>
<key>spriteOffset</key>
<string>{11,-17}</string>
<key>spriteSize</key>
<string>{712,596}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{716,3613},{712,596}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (10)</key>
<dict>
<key>spriteOffset</key>
<string>{18,-21}</string>
<key>spriteSize</key>
<string>{706,600}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3510,3538},{706,600}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (9)</key>
<dict>
<key>spriteOffset</key>
<string>{12,-19}</string>
<key>spriteSize</key>
<string>{701,603}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3561,607},{701,603}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (14)</key>
<dict>
<key>spriteOffset</key>
<string>{-2,-16}</string>
<key>spriteSize</key>
<string>{705,598}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3561,1211},{705,598}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (7)</key>
<dict>
<key>spriteOffset</key>
<string>{-84,-38}</string>
<key>spriteSize</key>
<string>{769,547}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3563,2473},{769,547}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (5)</key>
<dict>
<key>spriteOffset</key>
<string>{48,14}</string>
<key>spriteSize</key>
<string>{530,789}</string>
<key>spriteSourceSize</key>
<string>{960,850}</string>
<key>textureRect</key>
<string>{{1429,3596},{530,789}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (4)</key>
<dict>
<key>spriteOffset</key>
<string>{18,17}</string>
<key>spriteSize</key>
<string>{558,748}</string>
<key>spriteSourceSize</key>
<string>{960,850}</string>
<key>textureRect</key>
<string>{{4217,3021},{558,748}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (11)</key>
<dict>
<key>spriteOffset</key>
<string>{-52,-57}</string>
<key>spriteSize</key>
<string>{756,550}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3904,1},{756,550}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (15)</key>
<dict>
<key>spriteOffset</key>
<string>{-28,-15}</string>
<key>spriteSize</key>
<string>{689,599}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3869,1810},{689,599}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (8)</key>
<dict>
<key>spriteOffset</key>
<string>{2,-29}</string>
<key>spriteSize</key>
<string>{701,588}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1960,4169},{701,588}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-82,-42}</string>
<key>spriteSize</key>
<string>{761,539}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2662,4169},{761,539}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (9)</key>
<dict>
<key>spriteOffset</key>
<string>{-83,-48}</string>
<key>spriteSize</key>
<string>{758,528}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3424,4139},{758,528}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (10)</key>
<dict>
<key>spriteOffset</key>
<string>{-83,-56}</string>
<key>spriteSize</key>
<string>{754,512}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,4210},{754,512}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (11)</key>
<dict>
<key>spriteOffset</key>
<string>{-83,-68}</string>
<key>spriteSize</key>
<string>{749,488}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{756,4386},{749,488}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (6)</key>
<dict>
<key>spriteOffset</key>
<string>{9,-81}</string>
<key>spriteSize</key>
<string>{651,510}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3563,3021},{651,510}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (7)</key>
<dict>
<key>spriteOffset</key>
<string>{10,-83}</string>
<key>spriteSize</key>
<string>{656,505}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4217,3770},{656,505}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (12)</key>
<dict>
<key>spriteOffset</key>
<string>{-84,-91}</string>
<key>spriteSize</key>
<string>{746,441}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{4183,4276},{746,441}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (13)</key>
<dict>
<key>spriteOffset</key>
<string>{-86,-86}</string>
<key>spriteSize</key>
<string>{749,439}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{4263,552},{749,439}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (6)</key>
<dict>
<key>spriteOffset</key>
<string>{67,-57}</string>
<key>spriteSize</key>
<string>{547,555}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4267,992},{547,555}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (15)</key>
<dict>
<key>spriteOffset</key>
<string>{-23,-163}</string>
<key>spriteSize</key>
<string>{874,338}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2662,4709},{874,338}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (5)</key>
<dict>
<key>spriteOffset</key>
<string>{-11,-46}</string>
<key>spriteSize</key>
<string>{611,441}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4333,2410},{611,441}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (14)</key>
<dict>
<key>spriteOffset</key>
<string>{-62,-160}</string>
<key>spriteSize</key>
<string>{801,335}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3537,4718},{801,335}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (7)</key>
<dict>
<key>spriteOffset</key>
<string>{67,-15}</string>
<key>spriteSize</key>
<string>{569,471}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4559,1548},{569,471}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-66,32}</string>
<key>spriteSize</key>
<string>{442,592}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1506,4386},{442,592}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-26,-46}</string>
<key>spriteSize</key>
<string>{576,439}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4339,4718},{576,439}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-36,-39}</string>
<key>spriteSize</key>
<string>{516,453}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,4723},{516,453}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-40,-33}</string>
<key>spriteSize</key>
<string>{473,464}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4661,1},{473,464}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (5)</key>
<dict>
<key>spriteOffset</key>
<string>{37,-16}</string>
<key>spriteSize</key>
<string>{458,470}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3098,2473},{458,470}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (2)</key>
<dict>
<key>spriteOffset</key>
<string>{120,-94}</string>
<key>spriteSize</key>
<string>{439,477}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4776,2852},{439,477}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (3)</key>
<dict>
<key>spriteOffset</key>
<string>{71,-26}</string>
<key>spriteSize</key>
<string>{434,463}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1949,4758},{434,463}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-84,-33}</string>
<key>spriteSize</key>
<string>{419,465}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4815,992},{419,465}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (9)</key>
<dict>
<key>spriteOffset</key>
<string>{78,-135}</string>
<key>spriteSize</key>
<string>{467,400}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2428,1958},{467,400}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (7)</key>
<dict>
<key>spriteOffset</key>
<string>{111,-124}</string>
<key>spriteSize</key>
<string>{448,416}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4776,3330},{448,416}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (10)</key>
<dict>
<key>spriteOffset</key>
<string>{-68,-27}</string>
<key>spriteSize</key>
<string>{388,476}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3165,607},{388,476}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2attack (9)</key>
<dict>
<key>spriteOffset</key>
<string>{-84,-27}</string>
<key>spriteSize</key>
<string>{388,475}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4874,3747},{388,475}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-28,-15}</string>
<key>spriteSize</key>
<string>{374,471}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4916,4718},{374,471}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (9)</key>
<dict>
<key>spriteOffset</key>
<string>{-23,-15}</string>
<key>spriteSize</key>
<string>{368,471}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4930,4223},{368,471}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-7,-16}</string>
<key>spriteSize</key>
<string>{367,469}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4945,2020},{367,469}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-7,-16}</string>
<key>spriteSize</key>
<string>{367,469}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{518,4875},{367,469}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-7,-16}</string>
<key>spriteSize</key>
<string>{367,469}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{886,4875},{367,469}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2SHOT (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-8,-16}</string>
<key>spriteSize</key>
<string>{366,470}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{5013,466},{366,470}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (10)</key>
<dict>
<key>spriteOffset</key>
<string>{13,-13}</string>
<key>spriteSize</key>
<string>{336,390}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1254,4979},{336,390}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (1)</key>
<dict>
<key>spriteOffset</key>
<string>{20,4}</string>
<key>spriteSize</key>
<string>{319,406}</string>
<key>spriteSourceSize</key>
<string>{1000,1000}</string>
<key>textureRect</key>
<string>{{1591,4979},{319,406}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (9)</key>
<dict>
<key>spriteOffset</key>
<string>{15,-7}</string>
<key>spriteSize</key>
<string>{333,388}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4559,2020},{333,388}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (11)</key>
<dict>
<key>spriteOffset</key>
<string>{-7,8}</string>
<key>spriteSize</key>
<string>{329,390}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2384,5048},{329,390}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (8)</key>
<dict>
<key>spriteOffset</key>
<string>{13,-2}</string>
<key>spriteSize</key>
<string>{329,390}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2714,5048},{329,390}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (7)</key>
<dict>
<key>spriteOffset</key>
<string>{2,-11}</string>
<key>spriteSize</key>
<string>{325,392}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3044,5048},{325,392}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (14)</key>
<dict>
<key>spriteOffset</key>
<string>{3,-13}</string>
<key>spriteSize</key>
<string>{318,399}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{5129,1458},{318,399}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (15)</key>
<dict>
<key>spriteOffset</key>
<string>{17,-17}</string>
<key>spriteSize</key>
<string>{317,400}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{5135,1},{317,400}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (5)</key>
<dict>
<key>spriteOffset</key>
<string>{9,-1}</string>
<key>spriteSize</key>
<string>{321,394}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3370,5054},{321,394}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (13)</key>
<dict>
<key>spriteOffset</key>
<string>{9,1}</string>
<key>spriteSize</key>
<string>{318,397}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3692,5054},{318,397}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (12)</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-6}</string>
<key>spriteSize</key>
<string>{322,392}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4011,5054},{322,392}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (16)</key>
<dict>
<key>spriteOffset</key>
<string>{17,3}</string>
<key>spriteSize</key>
<string>{317,398}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{5216,2490},{317,398}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (1)</key>
<dict>
<key>spriteOffset</key>
<string>{19,-1}</string>
<key>spriteSize</key>
<string>{326,387}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{5216,2889},{326,387}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (6)</key>
<dict>
<key>spriteOffset</key>
<string>{20,-17}</string>
<key>spriteSize</key>
<string>{320,394}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{5225,3277},{320,394}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (4)</key>
<dict>
<key>spriteOffset</key>
<string>{4,1}</string>
<key>spriteSize</key>
<string>{322,391}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4334,5158},{322,391}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (17)</key>
<dict>
<key>spriteOffset</key>
<string>{37,-5}</string>
<key>spriteSize</key>
<string>{318,395}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{5235,937},{318,395}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (2)</key>
<dict>
<key>spriteOffset</key>
<string>{18,-7}</string>
<key>spriteSize</key>
<string>{322,389}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,5177},{322,389}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2walk (18)</key>
<dict>
<key>spriteOffset</key>
<string>{33,6}</string>
<key>spriteSize</key>
<string>{317,392}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{5263,3672},{317,392}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (3)</key>
<dict>
<key>spriteOffset</key>
<string>{16,-4}</string>
<key>spriteSize</key>
<string>{229,277}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1361,2379},{229,277}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (10)</key>
<dict>
<key>spriteOffset</key>
<string>{-29,-73}</string>
<key>spriteSize</key>
<string>{322,190}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,3250},{322,190}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (4)</key>
<dict>
<key>spriteOffset</key>
<string>{16,-10}</string>
<key>spriteSize</key>
<string>{230,266}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4657,5158},{230,266}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (5)</key>
<dict>
<key>spriteOffset</key>
<string>{17,-24}</string>
<key>spriteSize</key>
<string>{231,251}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4267,1548},{231,251}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-7,-35}</string>
<key>spriteSize</key>
<string>{240,234}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2384,4758},{240,234}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (11)</key>
<dict>
<key>spriteOffset</key>
<string>{-22,-87}</string>
<key>spriteSize</key>
<string>{355,158}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{756,4210},{355,158}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (6)</key>
<dict>
<key>spriteOffset</key>
<string>{12,-32}</string>
<key>spriteSize</key>
<string>{229,235}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{324,5345},{229,235}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>BOSS2dead (12)</key>
<dict>
<key>spriteOffset</key>
<string>{-22,-112}</string>
<key>spriteSize</key>
<string>{354,141}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{4333,2852},{354,141}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>新建文件夹 (2).png</string>
<key>textureFileName</key>
<string>新建文件夹 (2).png</string>
<key>size</key>
<string>{5581,5581}</string>
</dict>
</dict>
</plist>
