<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>9</key>
<dict>
<key>spriteOffset</key>
<string>{-29,-6}</string>
<key>spriteSize</key>
<string>{265,312}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{1,1},{265,312}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>10</key>
<dict>
<key>spriteOffset</key>
<string>{-32,-17}</string>
<key>spriteSize</key>
<string>{279,294}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{267,1},{279,294}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8</key>
<dict>
<key>spriteOffset</key>
<string>{-21,-3}</string>
<key>spriteSize</key>
<string>{249,321}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{267,296},{249,321}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7</key>
<dict>
<key>spriteOffset</key>
<string>{-13,-2}</string>
<key>spriteSize</key>
<string>{244,324}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{1,314},{244,324}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6</key>
<dict>
<key>spriteOffset</key>
<string>{-6,0}</string>
<key>spriteSize</key>
<string>{241,328}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{517,296},{241,328}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{236,331}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{246,618},{236,331}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4</key>
<dict>
<key>spriteOffset</key>
<string>{17,0}</string>
<key>spriteSize</key>
<string>{232,330}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{483,625},{232,330}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3</key>
<dict>
<key>spriteOffset</key>
<string>{10,-1}</string>
<key>spriteSize</key>
<string>{226,329}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{716,625},{226,329}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>11</key>
<dict>
<key>spriteOffset</key>
<string>{-19,-57}</string>
<key>spriteSize</key>
<string>{307,222}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{547,1},{307,222}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>2</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{195,331}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{759,224},{195,331}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1</key>
<dict>
<key>spriteOffset</key>
<string>{1,4}</string>
<key>spriteSize</key>
<string>{174,336}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{1,639},{174,336}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>12</key>
<dict>
<key>spriteOffset</key>
<string>{-14,-78}</string>
<key>spriteSize</key>
<string>{286,173}</string>
<key>spriteSourceSize</key>
<string>{355,355}</string>
<key>textureRect</key>
<string>{{176,950},{286,173}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>角色痛苦倒地动画生成-frames.png</string>
<key>textureFileName</key>
<string>角色痛苦倒地动画生成-frames.png</string>
<key>size</key>
<string>{1124,1124}</string>
</dict>
</dict>
</plist>
