<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>fatzombieattack (6)</key>
<dict>
<key>spriteOffset</key>
<string>{-18,17}</string>
<key>spriteSize</key>
<string>{459,687}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,1},{459,687}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (11)</key>
<dict>
<key>spriteOffset</key>
<string>{41,17}</string>
<key>spriteSize</key>
<string>{319,687}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{461,1},{319,687}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (7)</key>
<dict>
<key>spriteOffset</key>
<string>{-18,16}</string>
<key>spriteSize</key>
<string>{474,685}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{781,1},{474,685}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (10)</key>
<dict>
<key>spriteOffset</key>
<string>{28,16}</string>
<key>spriteSize</key>
<string>{369,685}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{781,687},{369,685}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (9)</key>
<dict>
<key>spriteOffset</key>
<string>{4,11}</string>
<key>spriteSize</key>
<string>{451,676}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,689},{451,676}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (13)</key>
<dict>
<key>spriteOffset</key>
<string>{-14,-21}</string>
<key>spriteSize</key>
<string>{675,611}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1151,687},{675,611}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-10,10}</string>
<key>spriteSize</key>
<string>{503,673}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1256,1},{503,673}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiedead (8)</key>
<dict>
<key>spriteOffset</key>
<string>{25,-225}</string>
<key>spriteSize</key>
<string>{671,258}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1151,1299},{671,258}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (12)</key>
<dict>
<key>spriteOffset</key>
<string>{18,7}</string>
<key>spriteSize</key>
<string>{486,667}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,1366},{486,667}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (2)</key>
<dict>
<key>spriteOffset</key>
<string>{23,-4}</string>
<key>spriteSize</key>
<string>{632,666}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{488,1373},{632,666}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-49,5}</string>
<key>spriteSize</key>
<string>{489,654}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1121,1558},{489,654}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (17)</key>
<dict>
<key>spriteOffset</key>
<string>{-50,-1}</string>
<key>spriteSize</key>
<string>{503,652}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1611,1558},{503,652}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-51,4}</string>
<key>spriteSize</key>
<string>{492,651}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1760,1},{492,651}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-42,-3}</string>
<key>spriteSize</key>
<string>{492,651}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1827,653},{492,651}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiedead (1)</key>
<dict>
<key>spriteOffset</key>
<string>{6,-20}</string>
<key>spriteSize</key>
<string>{580,649}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,2040},{580,649}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (5)</key>
<dict>
<key>spriteOffset</key>
<string>{-17,-2}</string>
<key>spriteSize</key>
<string>{452,649}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{582,2040},{452,649}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-17,-2}</string>
<key>spriteSize</key>
<string>{447,649}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2115,1305},{447,649}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (9)</key>
<dict>
<key>spriteOffset</key>
<string>{-46,-5}</string>
<key>spriteSize</key>
<string>{496,648}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2115,1955},{496,648}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (1)</key>
<dict>
<key>spriteOffset</key>
<string>{9,-18}</string>
<key>spriteSize</key>
<string>{601,646}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2253,1},{601,646}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (18)</key>
<dict>
<key>spriteOffset</key>
<string>{-50,-5}</string>
<key>spriteSize</key>
<string>{503,644}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2320,648},{503,644}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (7)</key>
<dict>
<key>spriteOffset</key>
<string>{-40,-7}</string>
<key>spriteSize</key>
<string>{489,644}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1611,2211},{489,644}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-32,-5}</string>
<key>spriteSize</key>
<string>{470,644}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1035,2213},{470,644}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-48,-7}</string>
<key>spriteSize</key>
<string>{486,642}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2563,1293},{486,642}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-43,-7}</string>
<key>spriteSize</key>
<string>{490,640}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2612,1936},{490,640}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiedead (4)</key>
<dict>
<key>spriteOffset</key>
<string>{50,-7}</string>
<key>spriteSize</key>
<string>{444,639}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2612,2577},{444,639}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (6)</key>
<dict>
<key>spriteOffset</key>
<string>{-41,-12}</string>
<key>spriteSize</key>
<string>{488,634}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2101,2604},{488,634}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiedead (3)</key>
<dict>
<key>spriteOffset</key>
<string>{32,-10}</string>
<key>spriteSize</key>
<string>{445,633}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2824,648},{445,633}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (10)</key>
<dict>
<key>spriteOffset</key>
<string>{-43,-13}</string>
<key>spriteSize</key>
<string>{509,632}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,2690},{509,632}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (20)</key>
<dict>
<key>spriteOffset</key>
<string>{-45,-11}</string>
<key>spriteSize</key>
<string>{492,632}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{511,2690},{492,632}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (19)</key>
<dict>
<key>spriteOffset</key>
<string>{-46,-11}</string>
<key>spriteSize</key>
<string>{495,631}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2855,1},{495,631}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiewalk (5)</key>
<dict>
<key>spriteOffset</key>
<string>{-48,-14}</string>
<key>spriteSize</key>
<string>{497,630}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1506,2856},{497,630}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiedead (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-16,-15}</string>
<key>spriteSize</key>
<string>{470,624}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1004,2858},{470,624}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (16)</key>
<dict>
<key>spriteOffset</key>
<string>{-48,-17}</string>
<key>spriteSize</key>
<string>{501,619}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3050,1282},{501,619}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (15)</key>
<dict>
<key>spriteOffset</key>
<string>{-40,-21}</string>
<key>spriteSize</key>
<string>{502,612}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3057,2577},{502,612}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombieattack (14)</key>
<dict>
<key>spriteOffset</key>
<string>{47,-29}</string>
<key>spriteSize</key>
<string>{604,595}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3103,1902},{604,595}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiedead (5)</key>
<dict>
<key>spriteOffset</key>
<string>{89,-37}</string>
<key>spriteSize</key>
<string>{433,580}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3270,633},{433,580}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiedead (6)</key>
<dict>
<key>spriteOffset</key>
<string>{98,-64}</string>
<key>spriteSize</key>
<string>{421,540}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{3057,3190},{421,540}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>fatzombiedead (7)</key>
<dict>
<key>spriteOffset</key>
<string>{83,-111}</string>
<key>spriteSize</key>
<string>{503,464}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2004,3239},{503,464}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>fatzombie.png</string>
<key>textureFileName</key>
<string>fatzombie.png</string>
<key>size</key>
<string>{3731,3731}</string>
</dict>
</dict>
</plist>
