<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>playerWalk_left4</key>
<dict>
<key>spriteOffset</key>
<string>{-8,8}</string>
<key>spriteSize</key>
<string>{265,536}</string>
<key>spriteSourceSize</key>
<string>{408,611}</string>
<key>textureRect</key>
<string>{{1,1},{265,536}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_right4</key>
<dict>
<key>spriteOffset</key>
<string>{4,4}</string>
<key>spriteSize</key>
<string>{268,530}</string>
<key>spriteSourceSize</key>
<string>{392,593}</string>
<key>textureRect</key>
<string>{{267,1},{268,530}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>texture-3.png</string>
<key>textureFileName</key>
<string>texture-3.png</string>
<key>size</key>
<string>{536,538}</string>
</dict>
</dict>
</plist>
