<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>playerWalk_down2</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-8}</string>
<key>spriteSize</key>
<string>{248,555}</string>
<key>spriteSourceSize</key>
<string>{403,634}</string>
<key>textureRect</key>
<string>{{1,1},{248,555}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_down4</key>
<dict>
<key>spriteOffset</key>
<string>{5,2}</string>
<key>spriteSize</key>
<string>{250,553}</string>
<key>spriteSourceSize</key>
<string>{404,654}</string>
<key>textureRect</key>
<string>{{250,1},{250,553}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_right1</key>
<dict>
<key>spriteOffset</key>
<string>{13,-4}</string>
<key>spriteSize</key>
<string>{221,553}</string>
<key>spriteSourceSize</key>
<string>{389,626}</string>
<key>textureRect</key>
<string>{{501,1},{221,553}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_right3</key>
<dict>
<key>spriteOffset</key>
<string>{-2,13}</string>
<key>spriteSize</key>
<string>{220,552}</string>
<key>spriteSourceSize</key>
<string>{348,650}</string>
<key>textureRect</key>
<string>{{1,557},{220,552}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>playerWalk_left1</key>
<dict>
<key>spriteOffset</key>
<string>{9,8}</string>
<key>spriteSize</key>
<string>{220,551}</string>
<key>spriteSourceSize</key>
<string>{396,641}</string>
<key>textureRect</key>
<string>{{1,778},{220,551}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>texture-0.png</string>
<key>textureFileName</key>
<string>texture-0.png</string>
<key>size</key>
<string>{723,999}</string>
</dict>
</dict>
</plist>
