<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>playerWalk_left3</key>
<dict>
<key>spriteOffset</key>
<string>{-3,-3}</string>
<key>spriteSize</key>
<string>{219,549}</string>
<key>spriteSourceSize</key>
<string>{392,654}</string>
<key>textureRect</key>
<string>{{1,1},{219,549}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_down1</key>
<dict>
<key>spriteOffset</key>
<string>{-3,7}</string>
<key>spriteSize</key>
<string>{266,545}</string>
<key>spriteSourceSize</key>
<string>{428,642}</string>
<key>textureRect</key>
<string>{{221,1},{266,545}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_down3</key>
<dict>
<key>spriteOffset</key>
<string>{-10,-1}</string>
<key>spriteSize</key>
<string>{266,545}</string>
<key>spriteSourceSize</key>
<string>{383,631}</string>
<key>textureRect</key>
<string>{{488,1},{266,545}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_forward3</key>
<dict>
<key>spriteOffset</key>
<string>{3,8}</string>
<key>spriteSize</key>
<string>{262,544}</string>
<key>spriteSourceSize</key>
<string>{427,627}</string>
<key>textureRect</key>
<string>{{1,551},{262,544}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>texture-1.png</string>
<key>textureFileName</key>
<string>texture-1.png</string>
<key>size</key>
<string>{755,814}</string>
</dict>
</dict>
</plist>
