<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>playerWalk_forward1</key>
<dict>
<key>spriteOffset</key>
<string>{6,7}</string>
<key>spriteSize</key>
<string>{262,543}</string>
<key>spriteSourceSize</key>
<string>{408,627}</string>
<key>textureRect</key>
<string>{{1,1},{262,543}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_forward2</key>
<dict>
<key>spriteOffset</key>
<string>{1,-3}</string>
<key>spriteSize</key>
<string>{233,543}</string>
<key>spriteSourceSize</key>
<string>{406,627}</string>
<key>textureRect</key>
<string>{{264,1},{233,543}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_forward4</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{232,542}</string>
<key>spriteSourceSize</key>
<string>{396,624}</string>
<key>textureRect</key>
<string>{{498,1},{232,542}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>playerWalk_left2</key>
<dict>
<key>spriteOffset</key>
<string>{7,-14}</string>
<key>spriteSize</key>
<string>{223,540}</string>
<key>spriteSourceSize</key>
<string>{373,660}</string>
<key>textureRect</key>
<string>{{1,545},{223,540}}</string>
<key>textureRotated</key>
<true/>
</dict>
<key>playerWalk_right2</key>
<dict>
<key>spriteOffset</key>
<string>{-15,-2}</string>
<key>spriteSize</key>
<string>{219,537}</string>
<key>spriteSourceSize</key>
<string>{365,651}</string>
<key>textureRect</key>
<string>{{1,769},{219,537}}</string>
<key>textureRotated</key>
<true/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>texture-2.png</string>
<key>textureFileName</key>
<string>texture-2.png</string>
<key>size</key>
<string>{731,989}</string>
</dict>
</dict>
</plist>
