<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>copper</key>
<dict>
<key>spriteOffset</key>
<string>{2,-30}</string>
<key>spriteSize</key>
<string>{1628,1575}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1,1},{1628,1575}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wood</key>
<dict>
<key>spriteOffset</key>
<string>{0,-49}</string>
<key>spriteSize</key>
<string>{1713,1423}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1,1577},{1713,1423}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>Iron</key>
<dict>
<key>spriteOffset</key>
<string>{-5,-7}</string>
<key>spriteSize</key>
<string>{1439,1403}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1630,1},{1439,1403}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bullet</key>
<dict>
<key>spriteOffset</key>
<string>{-16,-4}</string>
<key>spriteSize</key>
<string>{547,1821}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1715,1405},{547,1821}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>加农炮弹</key>
<dict>
<key>spriteOffset</key>
<string>{4,-11}</string>
<key>spriteSize</key>
<string>{446,1486}</string>
<key>spriteSourceSize</key>
<string>{541,1542}</string>
<key>textureRect</key>
<string>{{2263,1405},{446,1486}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>镭射子弹</key>
<dict>
<key>spriteOffset</key>
<string>{1,-6}</string>
<key>spriteSize</key>
<string>{234,910}</string>
<key>spriteSourceSize</key>
<string>{320,986}</string>
<key>textureRect</key>
<string>{{2710,1405},{234,910}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>resources.png</string>
<key>textureFileName</key>
<string>resources.png</string>
<key>size</key>
<string>{3227,3227}</string>
</dict>
</dict>
</plist>
