<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>2</key>
<dict>
<key>spriteOffset</key>
<string>{-4,0}</string>
<key>spriteSize</key>
<string>{650,1868}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1,1},{650,1868}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>6</key>
<dict>
<key>spriteOffset</key>
<string>{-18,-2}</string>
<key>spriteSize</key>
<string>{565,1817}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{652,1},{565,1817}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>1</key>
<dict>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{602,1793}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1218,1},{602,1793}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>5</key>
<dict>
<key>spriteOffset</key>
<string>{299,-54}</string>
<key>spriteSize</key>
<string>{1381,1788}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1821,1},{1381,1788}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>4</key>
<dict>
<key>spriteOffset</key>
<string>{-11,1}</string>
<key>spriteSize</key>
<string>{510,1775}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1821,1790},{510,1775}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>10</key>
<dict>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{534,1745}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1218,1795},{534,1745}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>9</key>
<dict>
<key>spriteOffset</key>
<string>{7,1}</string>
<key>spriteSize</key>
<string>{507,1744}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{652,1819},{507,1744}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>7</key>
<dict>
<key>spriteOffset</key>
<string>{-3,1}</string>
<key>spriteSize</key>
<string>{532,1741}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{2332,1790},{532,1741}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>3</key>
<dict>
<key>spriteOffset</key>
<string>{-5,-8}</string>
<key>spriteSize</key>
<string>{535,1676}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1,1870},{535,1676}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>8</key>
<dict>
<key>spriteOffset</key>
<string>{16,19}</string>
<key>spriteSize</key>
<string>{582,1590}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{2865,1790},{582,1590}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>recyle</key>
<dict>
<key>spriteOffset</key>
<string>{227,-269}</string>
<key>spriteSize</key>
<string>{1526,1429}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{3203,1},{1526,1429}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>close</key>
<dict>
<key>spriteOffset</key>
<string>{-3,94}</string>
<key>spriteSize</key>
<string>{108,99}</string>
<key>spriteSourceSize</key>
<string>{784,1168}</string>
<key>textureRect</key>
<string>{{537,1870},{108,99}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>root.png</string>
<key>textureFileName</key>
<string>root.png</string>
<key>size</key>
<string>{4730,4730}</string>
</dict>
</dict>
</plist>
