<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>map_elements34</key>
<dict>
<key>spriteOffset</key>
<string>{0,8}</string>
<key>spriteSize</key>
<string>{1696,1680}</string>
<key>spriteSourceSize</key>
<string>{1696,1696}</string>
<key>textureRect</key>
<string>{{1,1},{1696,1680}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements35</key>
<dict>
<key>spriteOffset</key>
<string>{0,8}</string>
<key>spriteSize</key>
<string>{1696,1680}</string>
<key>spriteSourceSize</key>
<string>{1696,1696}</string>
<key>textureRect</key>
<string>{{1,1},{1696,1680}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements43</key>
<dict>
<key>spriteOffset</key>
<string>{0,8}</string>
<key>spriteSize</key>
<string>{1696,1680}</string>
<key>spriteSourceSize</key>
<string>{1696,1696}</string>
<key>textureRect</key>
<string>{{1,1},{1696,1680}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements03</key>
<dict>
<key>spriteOffset</key>
<string>{2,8}</string>
<key>spriteSize</key>
<string>{240,129}</string>
<key>spriteSourceSize</key>
<string>{265,145}</string>
<key>textureRect</key>
<string>{{1,1682},{240,129}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements23</key>
<dict>
<key>spriteOffset</key>
<string>{-2,-1}</string>
<key>spriteSize</key>
<string>{184,111}</string>
<key>spriteSourceSize</key>
<string>{200,142}</string>
<key>textureRect</key>
<string>{{242,1682},{184,111}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements22</key>
<dict>
<key>spriteOffset</key>
<string>{-2,3}</string>
<key>spriteSize</key>
<string>{169,155}</string>
<key>spriteSourceSize</key>
<string>{193,167}</string>
<key>textureRect</key>
<string>{{427,1682},{169,155}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements51</key>
<dict>
<key>spriteOffset</key>
<string>{3,-3}</string>
<key>spriteSize</key>
<string>{161,70}</string>
<key>spriteSourceSize</key>
<string>{185,81}</string>
<key>textureRect</key>
<string>{{597,1682},{161,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements01</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{83,151}</string>
<key>spriteSourceSize</key>
<string>{134,167}</string>
<key>textureRect</key>
<string>{{759,1682},{83,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements57</key>
<dict>
<key>spriteOffset</key>
<string>{-3,3}</string>
<key>spriteSize</key>
<string>{146,83}</string>
<key>spriteSourceSize</key>
<string>{169,107}</string>
<key>textureRect</key>
<string>{{597,1753},{146,83}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements32</key>
<dict>
<key>spriteOffset</key>
<string>{6,5}</string>
<key>spriteSize</key>
<string>{56,145}</string>
<key>spriteSourceSize</key>
<string>{79,163}</string>
<key>textureRect</key>
<string>{{843,1682},{56,145}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements42</key>
<dict>
<key>spriteOffset</key>
<string>{-1,3}</string>
<key>spriteSize</key>
<string>{82,136}</string>
<key>spriteSourceSize</key>
<string>{94,141}</string>
<key>textureRect</key>
<string>{{900,1682},{82,136}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements31</key>
<dict>
<key>spriteOffset</key>
<string>{-5,3}</string>
<key>spriteSize</key>
<string>{60,127}</string>
<key>spriteSourceSize</key>
<string>{71,133}</string>
<key>textureRect</key>
<string>{{983,1682},{60,127}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements21</key>
<dict>
<key>spriteOffset</key>
<string>{-1,4}</string>
<key>spriteSize</key>
<string>{123,60}</string>
<key>spriteSourceSize</key>
<string>{152,130}</string>
<key>textureRect</key>
<string>{{1044,1682},{123,60}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements25</key>
<dict>
<key>spriteOffset</key>
<string>{-9,1}</string>
<key>spriteSize</key>
<string>{67,122}</string>
<key>spriteSourceSize</key>
<string>{104,167}</string>
<key>textureRect</key>
<string>{{1168,1682},{67,122}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements33</key>
<dict>
<key>spriteOffset</key>
<string>{-7,-2}</string>
<key>spriteSize</key>
<string>{77,121}</string>
<key>spriteSourceSize</key>
<string>{98,141}</string>
<key>textureRect</key>
<string>{{1236,1682},{77,121}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements24</key>
<dict>
<key>spriteOffset</key>
<string>{-5,-6}</string>
<key>spriteSize</key>
<string>{105,75}</string>
<key>spriteSourceSize</key>
<string>{129,100}</string>
<key>textureRect</key>
<string>{{1044,1743},{105,75}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements58</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{76,89}</string>
<key>spriteSourceSize</key>
<string>{104,120}</string>
<key>textureRect</key>
<string>{{1314,1682},{76,89}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements55</key>
<dict>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{82,70}</string>
<key>spriteSourceSize</key>
<string>{95,84}</string>
<key>textureRect</key>
<string>{{1391,1682},{82,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements02</key>
<dict>
<key>spriteOffset</key>
<string>{-1,2}</string>
<key>spriteSize</key>
<string>{71,40}</string>
<key>spriteSourceSize</key>
<string>{92,86}</string>
<key>textureRect</key>
<string>{{242,1794},{71,40}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements41</key>
<dict>
<key>spriteOffset</key>
<string>{2,-4}</string>
<key>spriteSize</key>
<string>{49,39}</string>
<key>spriteSourceSize</key>
<string>{55,59}</string>
<key>textureRect</key>
<string>{{314,1794},{49,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements56</key>
<dict>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{41,42}</string>
<key>spriteSourceSize</key>
<string>{50,48}</string>
<key>textureRect</key>
<string>{{364,1794},{41,42}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements53</key>
<dict>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{35,39}</string>
<key>spriteSourceSize</key>
<string>{42,56}</string>
<key>textureRect</key>
<string>{{1314,1772},{35,39}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements52</key>
<dict>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{34,37}</string>
<key>spriteSourceSize</key>
<string>{41,49}</string>
<key>textureRect</key>
<string>{{1350,1772},{34,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>map_elements54</key>
<dict>
<key>spriteOffset</key>
<string>{2,-2}</string>
<key>spriteSize</key>
<string>{30,37}</string>
<key>spriteSourceSize</key>
<string>{46,48}</string>
<key>textureRect</key>
<string>{{1385,1772},{30,37}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>fullmal_elements.png</string>
<key>textureFileName</key>
<string>fullmal_elements.png</string>
<key>size</key>
<string>{1838,1838}</string>
</dict>
</dict>
</plist>
