<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>building7</key>
<dict>
<key>spriteOffset</key>
<string>{0,-9}</string>
<key>spriteSize</key>
<string>{2048,2029}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1,1},{2048,2029}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>hospital</key>
<dict>
<key>spriteOffset</key>
<string>{-14,-31}</string>
<key>spriteSize</key>
<string>{554,506}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{1,2031},{554,506}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>building2</key>
<dict>
<key>spriteOffset</key>
<string>{1,-13}</string>
<key>spriteSize</key>
<string>{511,359}</string>
<key>spriteSourceSize</key>
<string>{561,403}</string>
<key>textureRect</key>
<string>{{556,2031},{511,359}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>building1</key>
<dict>
<key>spriteOffset</key>
<string>{5,0}</string>
<key>spriteSize</key>
<string>{470,435}</string>
<key>spriteSourceSize</key>
<string>{494,464}</string>
<key>textureRect</key>
<string>{{1068,2031},{470,435}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wall</key>
<dict>
<key>spriteOffset</key>
<string>{-9,43}</string>
<key>spriteSize</key>
<string>{28,462}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{1539,2031},{28,462}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>building6</key>
<dict>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{373,458}</string>
<key>spriteSourceSize</key>
<string>{382,467}</string>
<key>textureRect</key>
<string>{{1568,2031},{373,458}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>tallbuilding3</key>
<dict>
<key>spriteOffset</key>
<string>{-4,-11}</string>
<key>spriteSize</key>
<string>{126,458}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{1942,2031},{126,458}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>building4</key>
<dict>
<key>spriteOffset</key>
<string>{11,5}</string>
<key>spriteSize</key>
<string>{289,402}</string>
<key>spriteSourceSize</key>
<string>{310,425}</string>
<key>textureRect</key>
<string>{{2050,1},{289,402}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>tallbuilding1</key>
<dict>
<key>spriteOffset</key>
<string>{2,50}</string>
<key>spriteSize</key>
<string>{176,377}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{2340,1},{176,377}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>tallbuilding2</key>
<dict>
<key>spriteOffset</key>
<string>{-12,4}</string>
<key>spriteSize</key>
<string>{197,365}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{2340,379},{197,365}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>building3</key>
<dict>
<key>spriteOffset</key>
<string>{1,-2}</string>
<key>spriteSize</key>
<string>{362,332}</string>
<key>spriteSourceSize</key>
<string>{395,357}</string>
<key>textureRect</key>
<string>{{2050,745},{362,332}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>building5</key>
<dict>
<key>spriteOffset</key>
<string>{6,4}</string>
<key>spriteSize</key>
<string>{332,244}</string>
<key>spriteSourceSize</key>
<string>{345,261}</string>
<key>textureRect</key>
<string>{{2050,1078},{332,244}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>building8</key>
<dict>
<key>spriteOffset</key>
<string>{3,3}</string>
<key>spriteSize</key>
<string>{275,321}</string>
<key>spriteSourceSize</key>
<string>{280,334}</string>
<key>textureRect</key>
<string>{{2050,404},{275,321}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lateralbuilding1</key>
<dict>
<key>spriteOffset</key>
<string>{-7,-3}</string>
<key>spriteSize</key>
<string>{240,303}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{2050,1323},{240,303}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>van1</key>
<dict>
<key>spriteOffset</key>
<string>{0,-3}</string>
<key>spriteSize</key>
<string>{298,142}</string>
<key>spriteSourceSize</key>
<string>{338,169}</string>
<key>textureRect</key>
<string>{{556,2391},{298,142}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>tallbuilding4</key>
<dict>
<key>spriteOffset</key>
<string>{-3,26}</string>
<key>spriteSize</key>
<string>{97,296}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{2050,1627},{97,296}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>schoolbus</key>
<dict>
<key>spriteOffset</key>
<string>{-1,0}</string>
<key>spriteSize</key>
<string>{290,137}</string>
<key>spriteSourceSize</key>
<string>{321,166}</string>
<key>textureRect</key>
<string>{{2069,1924},{290,137}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>tallbuilding5</key>
<dict>
<key>spriteOffset</key>
<string>{3,28}</string>
<key>spriteSize</key>
<string>{156,285}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{2148,1627},{156,285}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>tallbuilding7</key>
<dict>
<key>spriteOffset</key>
<string>{-1,27}</string>
<key>spriteSize</key>
<string>{158,275}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{2291,1323},{158,275}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>lateralbuilding</key>
<dict>
<key>spriteOffset</key>
<string>{-4,30}</string>
<key>spriteSize</key>
<string>{198,274}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{2305,1599},{198,274}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>bus</key>
<dict>
<key>spriteOffset</key>
<string>{4,-3}</string>
<key>spriteSize</key>
<string>{260,132}</string>
<key>spriteSourceSize</key>
<string>{304,153}</string>
<key>textureRect</key>
<string>{{2069,2062},{260,132}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>tallbuilding6</key>
<dict>
<key>spriteOffset</key>
<string>{-4,22}</string>
<key>spriteSize</key>
<string>{106,228}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{2383,1078},{106,228}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>car4</key>
<dict>
<key>spriteOffset</key>
<string>{1,5}</string>
<key>spriteSize</key>
<string>{223,100}</string>
<key>spriteSourceSize</key>
<string>{258,125}</string>
<key>textureRect</key>
<string>{{2069,2195},{223,100}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>van</key>
<dict>
<key>spriteOffset</key>
<string>{2,0}</string>
<key>spriteSize</key>
<string>{222,151}</string>
<key>spriteSourceSize</key>
<string>{234,165}</string>
<key>textureRect</key>
<string>{{2293,2195},{222,151}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>policecar</key>
<dict>
<key>spriteOffset</key>
<string>{0,-2}</string>
<key>spriteSize</key>
<string>{213,103}</string>
<key>spriteSourceSize</key>
<string>{243,123}</string>
<key>textureRect</key>
<string>{{2069,2296},{213,103}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>car1</key>
<dict>
<key>spriteOffset</key>
<string>{-4,-3}</string>
<key>spriteSize</key>
<string>{200,97}</string>
<key>spriteSourceSize</key>
<string>{247,115}</string>
<key>textureRect</key>
<string>{{2330,2062},{200,97}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>car2</key>
<dict>
<key>spriteOffset</key>
<string>{1,-1}</string>
<key>spriteSize</key>
<string>{200,96}</string>
<key>spriteSourceSize</key>
<string>{232,104}</string>
<key>textureRect</key>
<string>{{855,2391},{200,96}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>car3</key>
<dict>
<key>spriteOffset</key>
<string>{1,-6}</string>
<key>spriteSize</key>
<string>{196,120}</string>
<key>spriteSourceSize</key>
<string>{229,140}</string>
<key>textureRect</key>
<string>{{2283,2347},{196,120}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>wall1</key>
<dict>
<key>spriteOffset</key>
<string>{5,33}</string>
<key>spriteSize</key>
<string>{135,70}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{2069,2400},{135,70}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>buildings.png</string>
<key>textureFileName</key>
<string>buildings.png</string>
<key>size</key>
<string>{2538,2538}</string>
</dict>
</dict>
</plist>
