<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>光伏矩阵</key>
<dict>
<key>spriteOffset</key>
<string>{-8,-41}</string>
<key>spriteSize</key>
<string>{2156,3141}</string>
<key>spriteSourceSize</key>
<string>{2387,3340}</string>
<key>textureRect</key>
<string>{{1,1},{2156,3141}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>光伏电站</key>
<dict>
<key>spriteOffset</key>
<string>{-6,-11}</string>
<key>spriteSize</key>
<string>{1071,1567}</string>
<key>spriteSourceSize</key>
<string>{1310,1827}</string>
<key>textureRect</key>
<string>{{2158,1},{1071,1567}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>柴油电机</key>
<dict>
<key>spriteOffset</key>
<string>{4,27}</string>
<key>spriteSize</key>
<string>{1279,1482}</string>
<key>spriteSourceSize</key>
<string>{1369,1620}</string>
<key>textureRect</key>
<string>{{2158,1569},{1279,1482}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>能源核心</key>
<dict>
<key>spriteOffset</key>
<string>{-7,-19}</string>
<key>spriteSize</key>
<string>{1405,1281}</string>
<key>spriteSourceSize</key>
<string>{1496,1429}</string>
<key>textureRect</key>
<string>{{2158,3052},{1405,1281}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>集装箱</key>
<dict>
<key>spriteOffset</key>
<string>{-2,0}</string>
<key>spriteSize</key>
<string>{161,262}</string>
<key>spriteSourceSize</key>
<string>{221,305}</string>
<key>textureRect</key>
<string>{{3230,1},{161,262}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>plant.png</string>
<key>textureFileName</key>
<string>plant.png</string>
<key>size</key>
<string>{4334,4334}</string>
</dict>
</dict>
</plist>
