<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>nursezombieattack (4)</key>
<dict>
<key>spriteOffset</key>
<string>{0,-4}</string>
<key>spriteSize</key>
<string>{685,683}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,1},{685,683}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiedead (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-30,-18}</string>
<key>spriteSize</key>
<string>{660,630}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,685},{660,630}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiedead (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-29,6}</string>
<key>spriteSize</key>
<string>{593,679}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{687,1},{593,679}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiedead (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-8,3}</string>
<key>spriteSize</key>
<string>{575,674}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{687,681},{575,674}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombieattack (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-6,-3}</string>
<key>spriteSize</key>
<string>{573,648}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1263,681},{573,648}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiedead (4)</key>
<dict>
<key>spriteOffset</key>
<string>{2,-60}</string>
<key>spriteSize</key>
<string>{615,551}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,1316},{615,551}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiewalk (4)</key>
<dict>
<key>spriteOffset</key>
<string>{77,4}</string>
<key>spriteSize</key>
<string>{492,667}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1281,1},{492,667}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiewalk (5)</key>
<dict>
<key>spriteOffset</key>
<string>{77,4}</string>
<key>spriteSize</key>
<string>{492,667}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1263,1330},{492,667}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiedead (6)</key>
<dict>
<key>spriteOffset</key>
<string>{7,-88}</string>
<key>spriteSize</key>
<string>{659,495}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,1868},{659,495}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiewalk (6)</key>
<dict>
<key>spriteOffset</key>
<string>{97,0}</string>
<key>spriteSize</key>
<string>{472,660}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1774,1},{472,660}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiewalk (3)</key>
<dict>
<key>spriteOffset</key>
<string>{69,2}</string>
<key>spriteSize</key>
<string>{468,660}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{661,1356},{468,660}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiedead (5)</key>
<dict>
<key>spriteOffset</key>
<string>{9,-104}</string>
<key>spriteSize</key>
<string>{643,464}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1756,1330},{643,464}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiewalk (7)</key>
<dict>
<key>spriteOffset</key>
<string>{84,3}</string>
<key>spriteSize</key>
<string>{449,663}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1837,662},{449,663}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombieattack (1)</key>
<dict>
<key>spriteOffset</key>
<string>{63,0}</string>
<key>spriteSize</key>
<string>{451,654}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1756,1795},{451,654}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiewalk (2)</key>
<dict>
<key>spriteOffset</key>
<string>{62,0}</string>
<key>spriteSize</key>
<string>{441,655}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2208,1795},{441,655}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiewalk (1)</key>
<dict>
<key>spriteOffset</key>
<string>{61,-1}</string>
<key>spriteSize</key>
<string>{435,654}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1130,1998},{435,654}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombieattack (2)</key>
<dict>
<key>spriteOffset</key>
<string>{55,-7}</string>
<key>spriteSize</key>
<string>{405,639}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{2247,1},{405,639}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>nursezombiedead (7)</key>
<dict>
<key>spriteOffset</key>
<string>{0,-182}</string>
<key>spriteSize</key>
<string>{720,335}</string>
<key>spriteSourceSize</key>
<string>{720,720}</string>
<key>textureRect</key>
<string>{{1,2364},{720,335}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>nursezombie.png</string>
<key>textureFileName</key>
<string>nursezombie.png</string>
<key>size</key>
<string>{2700,2700}</string>
</dict>
</dict>
</plist>
