<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>reinforcement</key>
<dict>
<key>spriteOffset</key>
<string>{1,8}</string>
<key>spriteSize</key>
<string>{1751,1673}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1,1},{1751,1673}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>weapon</key>
<dict>
<key>spriteOffset</key>
<string>{78,-120}</string>
<key>spriteSize</key>
<string>{1695,1726}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1,1675},{1695,1726}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>setting</key>
<dict>
<key>spriteOffset</key>
<string>{36,3}</string>
<key>spriteSize</key>
<string>{1670,1582}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1697,1675},{1670,1582}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>demolish</key>
<dict>
<key>spriteOffset</key>
<string>{30,19}</string>
<key>spriteSize</key>
<string>{1556,1650}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{1753,1},{1556,1650}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>blast</key>
<dict>
<key>spriteOffset</key>
<string>{17,-12}</string>
<key>spriteSize</key>
<string>{1458,1530}</string>
<key>spriteSourceSize</key>
<string>{2048,2048}</string>
<key>textureRect</key>
<string>{{3310,1},{1458,1530}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>initialUI</key>
<dict>
<key>spriteOffset</key>
<string>{0,0}</string>
<key>spriteSize</key>
<string>{1376,768}</string>
<key>spriteSourceSize</key>
<string>{1376,768}</string>
<key>textureRect</key>
<string>{{3368,1532},{1376,768}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>victoryandfail</key>
<dict>
<key>spriteOffset</key>
<string>{0,-1}</string>
<key>spriteSize</key>
<string>{1117,708}</string>
<key>spriteSourceSize</key>
<string>{1168,784}</string>
<key>textureRect</key>
<string>{{3368,2301},{1117,708}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>settingpanel</key>
<dict>
<key>spriteOffset</key>
<string>{1,10}</string>
<key>spriteSize</key>
<string>{745,998}</string>
<key>spriteSourceSize</key>
<string>{784,1168}</string>
<key>textureRect</key>
<string>{{3368,3010},{745,998}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>存储游戏</key>
<dict>
<key>spriteOffset</key>
<string>{14,2}</string>
<key>spriteSize</key>
<string>{393,118}</string>
<key>spriteSourceSize</key>
<string>{1168,784}</string>
<key>textureRect</key>
<string>{{4114,3010},{393,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>退出游戏</key>
<dict>
<key>spriteOffset</key>
<string>{14,2}</string>
<key>spriteSize</key>
<string>{393,118}</string>
<key>spriteSourceSize</key>
<string>{1168,784}</string>
<key>textureRect</key>
<string>{{4114,3129},{393,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>载入游戏</key>
<dict>
<key>spriteOffset</key>
<string>{14,2}</string>
<key>spriteSize</key>
<string>{393,118}</string>
<key>spriteSourceSize</key>
<string>{1168,784}</string>
<key>textureRect</key>
<string>{{4114,3248},{393,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>开始游戏</key>
<dict>
<key>spriteOffset</key>
<string>{14,2}</string>
<key>spriteSize</key>
<string>{393,118}</string>
<key>spriteSourceSize</key>
<string>{1168,784}</string>
<key>textureRect</key>
<string>{{4114,3367},{393,118}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>UI.png</string>
<key>textureFileName</key>
<string>UI.png</string>
<key>size</key>
<string>{4769,4769}</string>
</dict>
</dict>
</plist>
