<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>重装炮塔</key>
<dict>
<key>spriteOffset</key>
<string>{41,-18}</string>
<key>spriteSize</key>
<string>{2169,1501}</string>
<key>spriteSourceSize</key>
<string>{2304,1728}</string>
<key>textureRect</key>
<string>{{1,1},{2169,1501}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>未来基座</key>
<dict>
<key>spriteOffset</key>
<string>{-4,-57}</string>
<key>spriteSize</key>
<string>{2071,2018}</string>
<key>spriteSourceSize</key>
<string>{2080,2176}</string>
<key>textureRect</key>
<string>{{1,1503},{2071,2018}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>未来重装</key>
<dict>
<key>spriteOffset</key>
<string>{33,13}</string>
<key>spriteSize</key>
<string>{984,2070}</string>
<key>spriteSourceSize</key>
<string>{2080,2176}</string>
<key>textureRect</key>
<string>{{2171,1},{984,2070}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>迷彩镭射</key>
<dict>
<key>spriteOffset</key>
<string>{-124,3}</string>
<key>spriteSize</key>
<string>{2056,1468}</string>
<key>spriteSourceSize</key>
<string>{2304,1728}</string>
<key>textureRect</key>
<string>{{2073,2072},{2056,1468}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>火焰炮塔</key>
<dict>
<key>spriteOffset</key>
<string>{-23,17}</string>
<key>spriteSize</key>
<string>{1969,1027}</string>
<key>spriteSourceSize</key>
<string>{2130,1208}</string>
<key>textureRect</key>
<string>{{1,3522},{1969,1027}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>现代炮塔</key>
<dict>
<key>spriteOffset</key>
<string>{-17,23}</string>
<key>spriteSize</key>
<string>{1965,1026}</string>
<key>spriteSourceSize</key>
<string>{2120,1168}</string>
<key>textureRect</key>
<string>{{1971,3541},{1965,1026}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>镭射炮塔</key>
<dict>
<key>spriteOffset</key>
<string>{-25,2}</string>
<key>spriteSize</key>
<string>{1962,1508}</string>
<key>spriteSourceSize</key>
<string>{2304,1728}</string>
<key>textureRect</key>
<string>{{3156,1},{1962,1508}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>双管炮塔</key>
<dict>
<key>spriteOffset</key>
<string>{-66,0}</string>
<key>spriteSize</key>
<string>{1940,1467}</string>
<key>spriteSourceSize</key>
<string>{2304,1728}</string>
<key>textureRect</key>
<string>{{3937,3541},{1940,1467}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>机甲炮塔</key>
<dict>
<key>spriteOffset</key>
<string>{12,5}</string>
<key>spriteSize</key>
<string>{1189,1691}</string>
<key>spriteSourceSize</key>
<string>{1662,1754}</string>
<key>textureRect</key>
<string>{{4130,1510},{1189,1691}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>基座</key>
<dict>
<key>spriteOffset</key>
<string>{20,0}</string>
<key>spriteSize</key>
<string>{1513,1465}</string>
<key>spriteSourceSize</key>
<string>{1683,1591}</string>
<key>textureRect</key>
<string>{{1,4550},{1513,1465}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>迷彩基座</key>
<dict>
<key>spriteOffset</key>
<string>{-5,-1}</string>
<key>spriteSize</key>
<string>{1314,1388}</string>
<key>spriteSourceSize</key>
<string>{1557,1537}</string>
<key>textureRect</key>
<string>{{1515,4568},{1314,1388}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>炮塔</key>
<dict>
<key>spriteOffset</key>
<string>{5,1}</string>
<key>spriteSize</key>
<string>{1006,759}</string>
<key>spriteSourceSize</key>
<string>{1043,896}</string>
<key>textureRect</key>
<string>{{2830,4568},{1006,759}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>四级机枪</key>
<dict>
<key>spriteOffset</key>
<string>{11,1}</string>
<key>spriteSize</key>
<string>{466,858}</string>
<key>spriteSourceSize</key>
<string>{529,941}</string>
<key>textureRect</key>
<string>{{5119,1},{466,858}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>elementaryTurnet</key>
<dict>
<key>spriteOffset</key>
<string>{-6,-35}</string>
<key>spriteSize</key>
<string>{830,815}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{3837,5009},{830,815}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>turnet_foundation</key>
<dict>
<key>spriteOffset</key>
<string>{-6,-50}</string>
<key>spriteSize</key>
<string>{830,786}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{4668,5009},{830,786}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>四级重炮</key>
<dict>
<key>spriteOffset</key>
<string>{16,9}</string>
<key>spriteSize</key>
<string>{393,828}</string>
<key>spriteSourceSize</key>
<string>{540,921}</string>
<key>textureRect</key>
<string>{{5499,5009},{393,828}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>turnet</key>
<dict>
<key>spriteOffset</key>
<string>{3,28}</string>
<key>spriteSize</key>
<string>{426,690}</string>
<key>spriteSourceSize</key>
<string>{1024,1024}</string>
<key>textureRect</key>
<string>{{5586,1},{426,690}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>四级基座</key>
<dict>
<key>spriteOffset</key>
<string>{8,13}</string>
<key>spriteSize</key>
<string>{596,592}</string>
<key>spriteSourceSize</key>
<string>{678,647}</string>
<key>textureRect</key>
<string>{{5119,860},{596,592}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>turnet.png</string>
<key>textureFileName</key>
<string>turnet.png</string>
<key>size</key>
<string>{6016,6016}</string>
</dict>
</dict>
</plist>
