<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>逃脱成功</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{2327,1477}</string>
<key>spriteSourceSize</key>
<string>{2432,1632}</string>
<key>textureRect</key>
<string>{{1,1},{2327,1477}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>逃脱失败</key>
<dict>
<key>spriteOffset</key>
<string>{1,0}</string>
<key>spriteSize</key>
<string>{2327,1476}</string>
<key>spriteSourceSize</key>
<string>{2432,1632}</string>
<key>textureRect</key>
<string>{{1,1479},{2327,1476}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>settingpanel</key>
<dict>
<key>spriteOffset</key>
<string>{1,10}</string>
<key>spriteSize</key>
<string>{745,998}</string>
<key>spriteSourceSize</key>
<string>{784,1168}</string>
<key>textureRect</key>
<string>{{2329,1},{745,998}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>volume</key>
<dict>
<key>spriteOffset</key>
<string>{-7,44}</string>
<key>spriteSize</key>
<string>{70,61}</string>
<key>spriteSourceSize</key>
<string>{784,1168}</string>
<key>textureRect</key>
<string>{{1,2956},{70,61}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>root.png</string>
<key>textureFileName</key>
<string>root.png</string>
<key>size</key>
<string>{3075,3075}</string>
</dict>
</dict>
</plist>
