<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>boss1walk (13)</key>
<dict>
<key>spriteOffset</key>
<string>{11,-17}</string>
<key>spriteSize</key>
<string>{712,596}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,1},{712,596}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (12)</key>
<dict>
<key>spriteOffset</key>
<string>{21,-20}</string>
<key>spriteSize</key>
<string>{716,594}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{962,1},{716,594}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (10)</key>
<dict>
<key>spriteOffset</key>
<string>{18,-21}</string>
<key>spriteSize</key>
<string>{706,600}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1923,1},{706,600}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (11)</key>
<dict>
<key>spriteOffset</key>
<string>{22,-21}</string>
<key>spriteSize</key>
<string>{714,595}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2884,1},{714,595}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-3,-59}</string>
<key>spriteSize</key>
<string>{821,601}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3845,1},{821,601}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (14)</key>
<dict>
<key>spriteOffset</key>
<string>{-2,-16}</string>
<key>spriteSize</key>
<string>{705,598}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{4806,1},{705,598}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (7)</key>
<dict>
<key>spriteOffset</key>
<string>{-1,-136}</string>
<key>spriteSize</key>
<string>{956,687}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{5767,1},{956,687}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (6)</key>
<dict>
<key>spriteOffset</key>
<string>{-65,-27}</string>
<key>spriteSize</key>
<string>{810,570}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,796},{810,570}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (5)</key>
<dict>
<key>spriteOffset</key>
<string>{-61,-25}</string>
<key>spriteSize</key>
<string>{814,573}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{962,796},{814,573}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-37,-22}</string>
<key>spriteSize</key>
<string>{782,587}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1923,796},{782,587}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (9)</key>
<dict>
<key>spriteOffset</key>
<string>{-83,-48}</string>
<key>spriteSize</key>
<string>{758,528}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2884,796},{758,528}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-49,-23}</string>
<key>spriteSize</key>
<string>{817,581}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3845,796},{817,581}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (7)</key>
<dict>
<key>spriteOffset</key>
<string>{-84,-38}</string>
<key>spriteSize</key>
<string>{769,547}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{4806,796},{769,547}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (8)</key>
<dict>
<key>spriteOffset</key>
<string>{-82,-42}</string>
<key>spriteSize</key>
<string>{761,539}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{5767,796},{761,539}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-27,-21}</string>
<key>spriteSize</key>
<string>{739,585}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,1591},{739,585}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (15)</key>
<dict>
<key>spriteOffset</key>
<string>{-23,-163}</string>
<key>spriteSize</key>
<string>{874,338}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{962,1591},{874,338}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (9)</key>
<dict>
<key>spriteOffset</key>
<string>{1,-83}</string>
<key>spriteSize</key>
<string>{955,794}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{1923,1591},{955,794}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (1)</key>
<dict>
<key>spriteOffset</key>
<string>{-15,-1}</string>
<key>spriteSize</key>
<string>{691,626}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2884,1591},{691,626}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (10)</key>
<dict>
<key>spriteOffset</key>
<string>{-83,-56}</string>
<key>spriteSize</key>
<string>{754,512}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3845,1591},{754,512}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (11)</key>
<dict>
<key>spriteOffset</key>
<string>{-83,-68}</string>
<key>spriteSize</key>
<string>{749,488}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{4806,1591},{749,488}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (14)</key>
<dict>
<key>spriteOffset</key>
<string>{-62,-160}</string>
<key>spriteSize</key>
<string>{801,335}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{5767,1591},{801,335}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (8)</key>
<dict>
<key>spriteOffset</key>
<string>{0,-131}</string>
<key>spriteSize</key>
<string>{960,698}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{1,2386},{960,698}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (13)</key>
<dict>
<key>spriteOffset</key>
<string>{-86,-86}</string>
<key>spriteSize</key>
<string>{749,439}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{962,2386},{749,439}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (11)</key>
<dict>
<key>spriteOffset</key>
<string>{2,-212}</string>
<key>spriteSize</key>
<string>{957,536}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{1923,2386},{957,536}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (12)</key>
<dict>
<key>spriteOffset</key>
<string>{0,-206}</string>
<key>spriteSize</key>
<string>{956,548}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{2884,2386},{956,548}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1dead (12)</key>
<dict>
<key>spriteOffset</key>
<string>{-84,-91}</string>
<key>spriteSize</key>
<string>{746,441}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3845,2386},{746,441}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (6)</key>
<dict>
<key>spriteOffset</key>
<string>{0,-105}</string>
<key>spriteSize</key>
<string>{959,749}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{4806,2386},{959,749}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (5)</key>
<dict>
<key>spriteOffset</key>
<string>{1,-85}</string>
<key>spriteSize</key>
<string>{956,789}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{5767,2386},{956,789}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (10)</key>
<dict>
<key>spriteOffset</key>
<string>{0,-142}</string>
<key>spriteSize</key>
<string>{954,676}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{1,3181},{954,676}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (4)</key>
<dict>
<key>spriteOffset</key>
<string>{0,-106}</string>
<key>spriteSize</key>
<string>{957,748}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{962,3181},{957,748}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (9)</key>
<dict>
<key>spriteOffset</key>
<string>{12,-19}</string>
<key>spriteSize</key>
<string>{701,603}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1923,3181},{701,603}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (8)</key>
<dict>
<key>spriteOffset</key>
<string>{2,-29}</string>
<key>spriteSize</key>
<string>{701,588}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2884,3181},{701,588}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (7)</key>
<dict>
<key>spriteOffset</key>
<string>{-9,-17}</string>
<key>spriteSize</key>
<string>{700,607}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3845,3181},{700,607}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (6)</key>
<dict>
<key>spriteOffset</key>
<string>{-13,-19}</string>
<key>spriteSize</key>
<string>{730,611}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{4806,3181},{730,611}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (5)</key>
<dict>
<key>spriteOffset</key>
<string>{-5,-29}</string>
<key>spriteSize</key>
<string>{759,587}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{5767,3181},{759,587}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (4)</key>
<dict>
<key>spriteOffset</key>
<string>{-4,-32}</string>
<key>spriteSize</key>
<string>{797,586}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,3976},{797,586}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (3)</key>
<dict>
<key>spriteOffset</key>
<string>{-5,-34}</string>
<key>spriteSize</key>
<string>{815,585}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{962,3976},{815,585}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (20)</key>
<dict>
<key>spriteOffset</key>
<string>{-30,-22}</string>
<key>spriteSize</key>
<string>{792,602}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1923,3976},{792,602}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (2)</key>
<dict>
<key>spriteOffset</key>
<string>{-12,-24}</string>
<key>spriteSize</key>
<string>{826,602}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{2884,3976},{826,602}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (19)</key>
<dict>
<key>spriteOffset</key>
<string>{-31,-15}</string>
<key>spriteSize</key>
<string>{783,595}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{3845,3976},{783,595}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (18)</key>
<dict>
<key>spriteOffset</key>
<string>{-36,-18}</string>
<key>spriteSize</key>
<string>{749,605}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{4806,3976},{749,605}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (17)</key>
<dict>
<key>spriteOffset</key>
<string>{-39,-12}</string>
<key>spriteSize</key>
<string>{725,594}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{5767,3976},{725,594}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (16)</key>
<dict>
<key>spriteOffset</key>
<string>{-36,-17}</string>
<key>spriteSize</key>
<string>{703,605}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{1,4771},{703,605}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1walk (15)</key>
<dict>
<key>spriteOffset</key>
<string>{-28,-15}</string>
<key>spriteSize</key>
<string>{689,599}</string>
<key>spriteSourceSize</key>
<string>{960,720}</string>
<key>textureRect</key>
<string>{{962,4771},{689,599}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (2)</key>
<dict>
<key>spriteOffset</key>
<string>{1,-196}</string>
<key>spriteSize</key>
<string>{957,567}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{1923,4771},{957,567}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (3)</key>
<dict>
<key>spriteOffset</key>
<string>{1,-161}</string>
<key>spriteSize</key>
<string>{958,638}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{2884,4771},{958,638}}</string>
<key>textureRotated</key>
<false/>
</dict>
<key>boss1attack (1)</key>
<dict>
<key>spriteOffset</key>
<string>{0,-196}</string>
<key>spriteSize</key>
<string>{957,567}</string>
<key>spriteSourceSize</key>
<string>{960,960}</string>
<key>textureRect</key>
<string>{{3845,4771},{957,567}}</string>
<key>textureRotated</key>
<false/>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>3</integer>
<key>pixelFormat</key>
<string>RGBA8888</string>
<key>premultiplyAlpha</key>
<false/>
<key>realTextureFileName</key>
<string>BOSS1.png</string>
<key>textureFileName</key>
<string>BOSS1.png</string>
<key>size</key>
<string>{6728,5566}</string>
</dict>
</dict>
</plist>
